.searchContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 20px auto;
  border-radius: 5px;

  @media (max-width: 990px) {
    background-color: var(--grey);
    padding: 15px 4px;
    height: 140px;
    margin: 0 auto 10px;
  }

  .searchWrapper {
    display: flex;

    @media (max-width: 990px) {
     flex-direction: column;
    }

    .inputLabel {
      display: flex;
      flex-direction: column;

      @media (max-width: 990px) {
        margin-bottom: 7px;
      }

      .input {
        padding: 7px;
        background-color: var(--grey-light);
        border: 1px solid var(--grey);
        border-radius: 5px;
        margin-right: 10px;
      }

      .count {
        width: 55px;
        text-align: center;
      }

      .label {
        font-weight: 600;
      }
    }
  }

  .button {
    padding: 7px 23px;
    background-color: var(--purple);
    border: none;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
  }
}
