.pagination {
  margin: 30px 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .button {
    padding: 7px 23px;
    margin: 0 3px;
    background-color: var(--purple);
    border: none;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
  }

  .button:disabled,
  .button[disabled]{
    border: 1px solid var(--grey);
    background-color: var(--grey-light);
    color: var(--grey);
    cursor: not-allowed;
  }
}


